/*globa*/
* {
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
/*desktop*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding-top: 100px;
  margin: 5px;
}
nav {
  padding: 20px;
  padding-top: 100px;
  display: flex;
}
nav a {
  margin-right: 10px;
}
@media (max-width: 760px) {
  nav {
    margin-top: 20px;
    padding: 10px;
    text-align: left;
  }
  nav a {
    padding: 5px;
  }
  p {
    text-align: center;
    margin-top: 20px;
  }
}
img {
  max-width: 100%;
}
/*utilities*/
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  flex-direction: row;
  display: flex;
}
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
}
.btn-details {
  background-color: orange;
  display: block;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-radius: 10ox;
}
/*header*/
header.site-init {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/header.jpg);
  height: 55vh;
  background-position: top right;
  background-size: cover;
  color: white;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}
header.site-init p {
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 700px;
}
header.site-init h1 {
  padding: 10px;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
span.real {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  header.site-init {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  header.site-init h1 {
    padding: 20px;
  }
  header.site-init p {
    padding: 100px;
  }
}

/*more about us*/
.more-about-us-item {
  margin-right: 1rem;
  text-align: justify;
}
.more-about-us-item img {
  max-width: 100%;
  margin: 20px 0;
}
.more-about-us-item h3 {
  margin: 20px 0;
  font-size: 30px;
}
@media (max-width: 768px) {
  .more-about-us-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .more-about-us-item h3 {
    text-align: center;
  }
}
/*houses*/
.houses-container {
  display: flex;
}
.houses-item {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.houses-item-text {
  padding: 5px;
}
.houses-item h3 {
  margin: 10px 0;
}
.houses-item p.price {
  color: green;
  font-weight: 700;
  line-height: 2;
}
.houses-item ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.houses-item ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.houses-item li img {
  margin-right: 10px;
}
.houses-item h3 {
  white-space: nowrap;
}
.houses-item-img {
  height: 400px;
}
.houses-item-img img {
  min-height: 100%;
}
@media (max-width: 768px) {
  .houses-container {
    flex-direction: column;
  }
  .houses-item-img {
    height: 500px;
  }
}
/*contact*/
.site-contact nav a {
  padding-top: 0;
  font-size: 16px;
  margin-top: 0;
}
.container-contact h2 {
  text-align: center;
  font-weight: lighter;
}
.form-container {
  margin: 20px;
}
.form-container input,
textarea,
select {
  display: block;
  background-color: lightgray;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.form-container textarea {
  height: 100px;
}
.form-check-input {
  margin-right: 50px;
}
label {
  margin-right: 20px;
}
fieldset h4 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
}
.contact-button {
  background-color: green;
  color: white;
  margin: 0.5px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
fieldset {
  margin: 0.5px;
}
/*header contact-about-blog*/
.site-contact-about-blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  padding: 10px 30px;
}
.site-contact-about-blog h1,
nav {
  padding-top: 0;
  margin-top: 0;
}
/*About*/
.container h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.container-about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-about .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.container-about .image-container img {
  max-width: 300px;
  margin: 0 20px;
}
.container-about p {
  text-align: center;
}
/*blog*/
.blog-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.blog-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 350px;
}
.blog-card img {
  max-width: 100%;
  height: auto;
}
.read-more {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #0077cc;
  transition: color 0.3s;
}
.read-more:hover {
  color: #0055aa;
}
