/* Tablet view to phone view */
@media (max-width: 1007px) {
  /* Adjusting global container widths */
  .container {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
  }

  /* Nav adjustment */
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  nav a {
    margin-bottom: 10px;
  }

  /* Header */
  header.site-init {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-size: cover;
  }

  header.site-init p,
  header.site-init h1 {
    padding: 1rem 0;
  }

  /* Image containers */
  .image-container img {
    width: 100%;
    height: auto;
  }

  /* Blog cards */
  .blog-card-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  /* Houese */
  .houses-container {
    flex-direction: column;
  }

  .houses-item-img {
    height: auto;
  }

  /* About us */
  .more-about-us-item img {
    display: block;
    margin: 0 auto;
  }
}

/* Phone */
@media (max-width: 640px) {
  /* Global */
  html {
    font-size: 12px;
  }

  nav {
    padding: 1rem;
    text-align: center;
    flex-direction: column;
  }

  /* Form container */
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .form-container {
    margin-bottom: 1rem;
  }

  /* Blog cards */
  .blog-card {
    width: 100%;
    height: auto;
  }

  /* Houses item */
  .houses-item-img {
    height: 300px;
  }

  /* About us */
  .more-about-us-item img {
    width: 100%;
    height: auto;
  }
}
